<div style="background-color: #ff4081;" class="child-container">

  <div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex fxLayoutAlign="center end" (click)="adminModule()">
      <img src="../../../../assets/homescreen_images/admin.jpg" class="image-size">
    </div>
    <div fxFlex fxLayoutAlign="center end" (click)="studentFeedback()">
      <img src="../../../../assets/homescreen_images/student.jpg" class="image-size">
    </div>
    <div fxFlex fxLayoutAlign="center end" (click)="staffFeedback()">
      <img src="../../../../assets/homescreen_images/staff.jpg" class="image-size">
    </div>
  </div>
  <div fxLayout="row" class="hand">
    <div fxFlex fxLayoutAlign="center start">
      <h2 style="color: #FFF">Admin</h2>
    </div>
    <div fxFlex fxLayoutAlign="center start">
      <h2 style="color: #FFF">Student</h2>
    </div>
    <div fxFlex fxLayoutAlign="center start">
      <h2 style="color: #FFF">Staff</h2>
    </div>
  </div>
</div>
