<div class="child-container" fxLayout="row" fxLayoutAlign="center center">
  <div flexLayout="col" fxFlex="30" fxFlex.lt-sm="100">
    <div>
      <mat-form-field class="example-full-width" appearance="fill" color="accent">
        <mat-label>Register Number</mat-label>
        <input matInput placeholder="Enter Register Number" [(ngModel)]="registerNo" type="number">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label color="accent">Select your Data of birth</mat-label>
        <input matInput [matDatepicker]="dob" disabled color="accent" [(ngModel)]="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="dob" color="accent"></mat-datepicker-toggle>
        <mat-datepicker #dob disabled="false" color="accent" startView="multi-year"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" id="save" fxFlex="100" (click)="login()">
        Login<mat-icon style="padding: 5px">login</mat-icon>
      </button>
    </div>
  </div>
</div>
