<div fxLayout="column" fxLayoutAlign="start " fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field color="accent" style="padding: 5px; width: 80%;">
      <input matInput placeholder="Enter the feedback name" id="feedbackName">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="80%">
    <button mat-raised-button color="accent" id="save">
      Save<mat-icon style="padding: 5px">save</mat-icon>
    </button>
  </div>
</div>
